<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Page Example</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}" />
<!--    <link rel="stylesheet" href="../static/homeStyle.css">-->

</head>
<body>
<div class ="main_container">
    <div class = "header">
        <h2>Hello from SpringBoot Login and Register with MySQL Home Page !</h2>
    </div>
    <div class="Login_Form">
        <form th:inputmode="tex" th:placeholder="e-mailaddress" > email address</form>

    </div>


</div>

</body>
</html>